name: Build and publish moosefs-csi driver Docker image

on:
  push:
    branches:
      - master

env:
  REGISTRY_IMAGE: moosefs/moosefs-csi
  MFS_CLIENT: 4.58.3
  CSI_VERSION: 0.9.8

jobs:
  build-dockerhub:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: ./cmd/moosefs-csi-plugin
          platforms: linux/amd64,linux/arm64,linux/arm/v7
          push: true
          tags: |
            ${{ env.REGISTRY_IMAGE }}:${{ env.CSI_VERSION }}-${{ env.MFS_CLIENT }}
            ${{ env.REGISTRY_IMAGE }}:latest
  build-ghcr:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: ./cmd/moosefs-csi-plugin
          platforms: linux/amd64,linux/arm64,linux/arm/v7
          push: true
          tags: |
            ghcr.io/${{ env.REGISTRY_IMAGE }}:${{ env.CSI_VERSION }}-${{ env.MFS_CLIENT }}
            ghcr.io/${{ env.REGISTRY_IMAGE }}:latest
      
